.copyright .footer-logo {
  margin-top: 0;
}

.product-wrap .product-img .product-action .pro-cart,
.product-list-image-wrap .product-img .product-action .pro-cart {
  width: calc(100% - 48px);
}

.btn-hover a,
.btn-hover a,
.btn-hover button,
.btn-hover button {
  z-index: 1;
}

.slider-content-11 .slider-btn-11 a {
  border: 1px solid #fff;
  color: #fff;

  &:hover {
    border: 1px solid $theme-color;
    color: #fff;
  }
}

.section-background-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.fullpage-slider-wrapper .Navigation .Navigation-Anchor {
  background-color: #fff !important;
  box-shadow: 0px -2px 5px 0px #00000096;
}

.product-details-content
  .pro-details-size-color
  .pro-details-color-wrap
  .pro-details-color-content--single {
  height: 20px;
  width: 20px;
}

.product-details-content
  .pro-details-size-color
  .pro-details-color-wrap
  .pro-details-color-content--single
  .checkmark:after {
  top: -4px;
  left: -1px;
  width: 22px;
  height: 22px;
}
